<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM WEBSITE</title>

style
    include style.css
</head>
<body>
    if alert
        script.
            alert("#{alert}");
    <div class="container">
        <center>
            <h2>Get this gym membership for ₹2000 per month-Fill this form now</h2>
            <form action="/submit" method="post" id="myform">
                <input type="text" name="name" id="name" placeholder="Enter your name" required>
                <input type="text" name="age" id="age" placeholder="Enter your age" required>
                <input type="text" name="gender" id="gender" placeholder="Enter your gender" required>
                <input type="number" name="mobile" id="mobile" placeholder="Enter your mobile number" required>
                <textarea name="address" id="address" required placeholder="Enter your address here.."  rows="5"></textarea>
                <textarea name="more" id="more" placeholder="Write more about you.." rows="8"></textarea>
                <button class="btn">SUBMIT</button>
            </form>
        </center>
    </div>
</body>
</html>