/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}



*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body::before{
top: 0px;
position: absolute;
    content: '';
    background: url('./static/gym.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}
nav{
    background-color: #363535;
    display: flex;
    align-items: center;
    height: 50px;
    overflow-y: hidden;
}
ul{
    display: flex;
        padding: 10px 30px;
        margin: 2px 0px;
}
li{
    list-style-type: none;
    height: 50px;
    width: 100px;
}
a{
    text-decoration: none;
    font-size: large;
    color: white;
    font-weight: 500;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;
}
a:hover{
    background-color: rgb(86, 86, 86);
}
.container{
    width: 60%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
@media only screen and (max-width: 700px) {
    .container{
        width: 100%;
    }
    input,textarea{
        width: 80%;
    }
}
input,textarea{
    display: block;
    width: 70%;
    margin: 10px 0px;
    outline: none;
    border: 2px solid rgb(86, 86, 86);
    border-radius: 7px;
    padding: 5px;
}
input{
    height: 20px;
}
textarea{
    resize: vertical;
}
::placeholder{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    margin: 10px 0px;
    color: white;
}
.btn{
    padding: 8px;
    outline: none;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 8px;
    background-color: rgb(86, 86, 86);
    color: white;
    cursor: pointer;
    font-size: medium;
    font-weight: 500;
}
.btn:hover{
    background-color: #363535;
}
.cont{
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@media only screen and (max-width: 900px) {
    .cont{
        width: 60%;
    }
}
@media only screen and (max-width: 500px) {
    .cont{
        width: 90%;
    }
}
img{
    width: 100%;
    border-radius: 8px;
}
.response {
position: absolute;
width: 100%;
bottom: 10px;
left: 50%;
transform: translate(-50%);
text-decoration: underline;
}
.response a{
    color: black;
}
.response a:hover{
    background-color: #fff;
}