<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
style
    include style.css
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>
    <div class="cont">
        <img src="/static/submit.png" alt="submitted">
        //<a class="response" href="/logout">Fill another response</a>
        <div class="response"><a href="/logout">Fill another response</a></div>
    </div>
</body>
</html>